<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
 <br/>
 <%= message %>
 <br/>
 <%= number %>
<br/>
<label for="email">Email Address</label>
<input id="email" type="email">
<br/>
<button id="submit" type="button">Submit</button>
  </body>
</html>
